:root {
  /* Primary */
  --full-slide-bar: hsl(174, 77%, 80%);
  --slider-bg: hsl(174, 86%, 45%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --cta-text: hsl(226, 100%, 87%);

  /* Neutral */
  --pricing-component-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 100%, 99%)
  --emptty-slider-bg:hsl(224, 65%, 95%);
  --toggle-bg:hsl(223, 50%, 87%);
  --text:hsl(225, 20%, 60%);
  --cta-text-bg: hsl(227, 35%, 25%);
}

/* element {
  background-color: var(--main-bg-color);
} */



/* Page view and pricing totals

Here are the different page view ranges and the corresponding monthly price totals:

- 10K pageviews / $8 per month
- 50K pageviews / $12 per month
- 100K pageviews / $16 per month
- 500k pageviews / $24 per month
- 1M pageviews / $36 per month

If the visitor switches the toggle to yearly billing, a 25% discount should be applied to all prices. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-width: 100vw; */
  background-image: url("../images/bg-pattern.svg");
  background-size: cover;
  /* background-size: auto; */
  
  /* background-position: right -1820px top -300px; */
  /* background-position: top; */
  /* background-position: center; */

  background-repeat: no-repeat;

  /* background-attachment: fixed; */
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 375px;
  width: 85%;
  color: var(--text);
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin-bottom: 2em; */
  /* padding: 0 2em; */
  /* padding-top: 1em; */
}

.top-container{
  padding: 1.6em;
  /* background-color: blue; */
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 3em;
}

h1{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1em;
}

.top-container p{
  font-size: .8rem;
}

.top-container p:last-child{
      margin-top: .2em;
}

.main-container{
  background-color: white;
  /* background-color: brown; */
  padding-top: 2em;
  border-radius: 5px;
  margin: 2em auto;
  box-shadow: 0 13px 34px 0 rgba(0,0,0,0.1);
}

.pageviews{
  font-size: .9rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.choosePrice{
  /* background-color: red; */
  margin-bottom: 2em;
  position: relative;
}

input{
  width: 80%;
}

input[type="range"]::-webkit-slider-thumb{
  cursor: pointer;
}

.main-price-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.price{
  color: black;
  font-size: 1.9rem;
  font-weight: 800;
  margin-right:.2em;
}

.main-billing-container{
  font-size: .7rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 2em;
}

/* Rounded Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: 0 1em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------------- */

.yearly-billing{
  background-color: var(--discount-bg);
  color:var(--discount-text);
  padding: .1em 0.6em;
  border-radius: 50px;

}

.main-container-bottom{
  /* background-color: blue; */
  /* width: 50%; */
  margin-bottom: 2em;
  position: relative;
  /* left: 12px; */
  display: flex;
  flex-direction: column;

}

.main-container-bottom p{
/* background-color: red; */
  font-size: .7rem;
  margin-bottom: 1em;
  padding: .6em;
  
}

.main-container-bottom p::before{
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 110px;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}


button{
  padding: .9em 2.6em;
  margin-bottom: 2em;
  background-color: var(--cta-text-bg);
  color: var(--cta-text);
  font-size: .8rem;
  letter-spacing: 1px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
